#cards {
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

#article{
    margin-top: 110px;
    margin-bottom: 50px;
    margin-left: 20%;
    margin-right: 20%;

    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
}

